#gameImage {
    display: block;
    margin: auto;
}

h3 {
    text-align: center;
}

#image {
    display: block;
    margin: auto;
    border: solid black;
    width: 600px;
    height: 600px;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.piece {
    border: 1px solid black;
    margin: -1px -1px -1px -1px;
    height: 25%;
    width: 25%;
    background-size: 600px 600px;
}


